label {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 60, 60);
}

.buttonc {
 color: rgb(255, 255, 255);
 background-color: rgb(36, 76, 255);

}
.submit{
    color: rgb(255, 255, 255);
    background-color: rgb(13, 102, 57);
    
}
